body {
    background-color: var(--jaune);
}

html {
    scroll-behavior: smooth;
}

.lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.lang__title {
    margin-bottom: 20px;
}

.lang__link {
    border-color: var(--noir-nuit);
    margin-bottom: 10px;
}

/* .home {

}

.home__slider {

} */

.home__title {
    margin: 0 46px 0 46px;
    text-align: center;
}

.articles {
    margin-top: 30px;
}

.articles__title {
    text-align: center;
}

/* .articles__carrousel {

} */

.glossary {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* .glossary__title {

} */

.glossary__desc {
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin: 20px;
}

/* .glossary__searchbox {
    
} */

.glossary__copyrights {
    font-family: var(--sans-serif);
    font-size: var(--small-text);
    font-weight: var(--regular);
    color: var(--noir-nuit);
    margin: 0;
    margin-top: 5px;
}

.glossary__copyrights--link {
    text-decoration: none;
    color: var(--noir-nuit);
}

.definition {
    margin: 50px 20px 0 20px;
}

.definition--title {
    font-family: var(--sans-serif);
    font-size: var(--button);
    font-weight: var(--semi-bold);
    color: var(--noir-nuit);
    margin: 26px 0 2px 0;
}

.definition--desc {
    font-family: var(--sans-serif);
    font-size: var(--small-text);
    font-weight: var(--regular);
    color: var(--noir-nuit);
    margin: 0;
}

mark {
    background-color: var(--bleu);
}

.list {
    font-family: var(--sans-serif);
    font-size: var(--body);
    font-weight: var(--regular);
    color: var(--noir-nuit);
    margin: 0;
}

/* .list__option {

} */

/* .about {

} */

.about__start {
    text-align: center;
}

/* .about__circles {

} */

.about__title {
    margin-top: -25px;
}

.about__img {
    width: 206px;
    max-width: 412px;
    border-radius: 50%;
    margin: 10px 0 20px 0;
}

/* .about__subtitle {

} */

.about__link {
    font-family: var(--sans-serif);
    font-size: var(--small-text);
    font-weight: var(--regular);
    color: var(--noir-nuit);
    margin: 0;
}

.about__content {
    background-color: var(--noir-nuit);
    padding: 20px 20px 0 20px;
    margin-top: 30px;
}

.about__text {
    color: var(--jaune);
    padding-bottom: 20px;
}

/* .about__end, .contact__end {

} */

.about__line, .contact__line {
    height: 10px;
    background-color: var(--bleu);
}

.about__line--tright, .contact__line--tright {
    width: 40%;
    /* margin-bottom: 10px; */
    margin-top: -20px;
    position: absolute;
    right: 0;
}

.about__line--bleft, .contact__line--bleft {
    width: 26%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.about__text--end, .contact__text--end {
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

/* .contact {

} */

/* .contact__start {

} */

/* .contact__circles {

} */

.contact__title {
    text-align: center;
}

.contact__text {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* .contact__form {

} */

.projects {
    margin-left: 20px;
    margin-right: 20px;
}

.projects__head {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects__title {
    margin-bottom: 20px;
}

/* .projects__text {

} */

.projects__content {
    display: flex;
    flex-direction: column;
}

/* .projects__link {

} */

.bg--saumon {
    background-color: var(--saumon);
}

.bg--blue {
    background-color: var(--bleu);
}

/* .p404 {

} */

.p404__section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 50px 20px 0 20px;
}

.p404__title {
    text-align: center;
}

.p404__text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.p404__link {
    margin-left: auto;
    margin-right: auto;
}