body {
    background-color: var(--jaune);
}

.lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.lang__title {
    margin-bottom: 20px;
}

.lang__link {
    border-color: var(--noir-nuit);
    margin-bottom: 10px;
}

/* .home {

}

.home__slider {

} */

.home__title {
    margin: 0 46px 0 46px;
    text-align: center;
}

.articles {
    margin-top: 30px;
}

.articles__title {
    text-align: center;
}

/* .articles__carrousel {

} */

.glossary {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* .glossary__title {

} */

.glossary__desc {
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin: 20px;
}

/* .glossary__searchbox {
    
} */

.glossary__copyrights {
    font-family: var(--sans-serif);
    font-size: var(--small-text);
    font-weight: var(--regular);
    color: var(--noir-nuit);
    margin: 0;
    margin-top: 5px;
}

.glossary__copyrights--link {
    text-decoration: none;
    color: var(--noir-nuit);
}

.definition {
    margin: 50px 20px 0 20px;
}

.definition--title {
    font-family: var(--sans-serif);
    font-size: var(--button);
    font-weight: var(--semi-bold);
    color: var(--noir-nuit);
    margin: 26px 0 2px 0;
}

.definition--desc {
    font-family: var(--sans-serif);
    font-size: var(--small-text);
    font-weight: var(--regular);
    color: var(--noir-nuit);
    margin: 0;
}