.illustration {
    margin: 20px 0 30px 0;
    text-align: center;
}

.illustration__img {
    width: 100%;
    max-width: 750px;
}

.accroche__illustration > .illustration__img {
    width: 100%;
    max-width: 318px;
}

.illustration__caption {
    font-family: var(--sans-serif);
    font-size: var(--small-text);
    font-weight: var(--regular);
    color: var(--noir-nuit);
    margin: 6px 20px 0 20px;
}

.diffusion {
    width: 100%;
}