.footer {
    background-color: var(--noir-nuit);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 12px 8px 8px 8px;
}

.footer__name {
    color: var(--blanc-casse);
}

.footer__bar {
    content: '';
    background-color: var(--blanc-casse);
    height: 1px;
    width: 40%;
    margin: 7px auto 7px auto;
}

.footer__mail,
.footer__legal,
.footer__legal--link {
    font-family: var(--sans-serif);
    font-size: var(--small-text);
    font-weight: var(--regular);
    color: var(--blanc-casse);
    margin: 0;
}

.footer__options {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.footer__link {
    margin: 15px 0 15px 0;
}

/* .footer__legal {
    
} */

.footer__mail,
.footer__legal--link {
    text-decoration: underline;
    text-underline-offset: 1.5px;
}