.header {
    background-color: var(--noir-nuit);
    display: flex;
    justify-content: space-between;
    padding: 0 24px 5px 11px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__logo {
    height: 80px;
    margin-top: 17px;
    cursor: pointer;
}

.header__title {
    font-family: var(--handwritten);
    font-size: var(--logo);
    font-weight: var(--regular);
    color: var(--blanc-casse);
    /* margin: 37px 22px 0 6px; */
    margin: 37px 0 0 -10px;
    text-align: center;
}
