.bubble {
    font-family: var(--sans-serif);
    font-size: var(--button);
    font-weight: var(--semi-bold);
    color: var(--noir-nuit);
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid var(--noir-nuit);
    border-radius: 10px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    text-align: center;
}

.bubble--r {
    background-color: var(--saumon);
}

.bubble--j {
    background-color: var(--jaune);
}

.bubble--bla {
    background-color: var(--blanc-casse);
}

.bubble--n {
    background-color: var(--noir-nuit);
    color: var(--jaune);
}

.bubble--ble {
    background-color: var(--bleu);
}