.button {
    font-family: var(--sans-serif);
    font-size: var(--button);
    font-weight: var(--semi-bold);
    color: var(--blanc-casse);
    background-color: var(--noir-nuit);
    border: 1px solid var(--blanc-casse);
    border-radius: 10px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
}

.button:hover {
    color: var(--noir-nuit);
    background-color: var(--blanc-casse);
    border-color: var(--noir-nuit);
}

.button__border-b {
    font-family: var(--sans-serif);
    font-size: var(--button);
    font-weight: var(--semi-bold);
    color: var(--blanc-casse);
    background-color: var(--noir-nuit);
    border: 1px solid var(--noir-nuit);
    border-radius: 10px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
}

.button__border-b:hover {
    color: var(--noir-nuit);
    background-color: var(--blanc-casse);
}