/* .carrousel {

} */

.carrousel__button {
    background-color: unset;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: -5px;
    padding: 185px 0 255px 0;
    display: grid;
    align-content: center;
}

/* .carrousel__button:hover {
    
} */

.carrousel__button--prv {
    left: 0;
    background: linear-gradient(90deg, rgb(245,241,210) 0%, rgb(245,241,210,0) 100%);
    padding-left: 15px;
    padding-right: 36px;
}

.carrousel__button--nxt {
    right: 0;
    background: linear-gradient(90deg, rgb(245,241,210,0) 0%, rgb(245,241,210) 100%);
    padding-left: 36px;
    padding-right: 15px;
}

.carrousel__button--img{
    margin-top: -25px;    
}

@media (min-width: 565px) {
    .carrousel__button--img{
        margin-top: 0px;    
    }
}

@media (min-width: 420px) {
    .carrousel__button--img{
        margin-top: 10px;    
    }
}

@media (min-width: 600px) {
    .carrousel__button--img{
        margin-top: 30px;    
    }

    .carrousel__button {
        padding-top: 185px;
        padding-bottom: 230px;
    }
    
}

.carrousel__track {
    display: flex;
    /* transform: translateX(); */
    padding-left: 80px;
    padding-right: 80px;
    overflow-x: scroll; 
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory;
    overflow: hidden;

}

/* .carrousel__card {

} */