.carrousel {
    margin-top: 30px;
    margin-bottom: 30px;
}

.carrousel__button {
    background-color: unset;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: -5px;
    padding: 185px 0 255px 0;
    display: grid;
    align-content: center;
}

/* .carrousel__button:hover {
    
} */

.carrousel__button--prv {
    left: 0;
    background: linear-gradient(90deg, rgb(245,241,210) 0%, rgb(245,241,210,0) 100%);
    padding-left: 20px;
    padding-right: 46px;
}

.carrousel__button--nxt {
    right: 0;
    background: linear-gradient(90deg, rgb(245,241,210,0) 0%, rgb(245,241,210) 100%);
    padding-left: 46px;
    padding-right: 20px;
}

.carrousel__button--img{
    margin-top: -25px;    
}

@media (min-width: 565px) {
    .carrousel__button--img{
        margin-top: 0px;    
    }
}

@media (min-width: 420px) {
    .carrousel__button--img{
        margin-top: 10px;    
    }
}

@media (min-width: 600px) {
    .carrousel__button--img{
        margin-top: 30px;    
    }

    .carrousel__button {
        padding-top: 185px;
        padding-bottom: 230px;
    }
    
}

.carrousel__track {
    display: flex;
    /* transform: translateX(); */
    padding-left: 80px;
    padding-right: 80px;
    overflow-x: scroll; 
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

/* .carrousel__card {

} */

.carrousel__dots {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    /* align-content: space-between; */
    gap: 6px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: var(--jaune);
    border: 1px solid var(--noir-nuit);
    border-radius: 50%;
    display: inline-block; 
}