/* .circles {

} */

.circles--middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles--middlespaceds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .circles--middlespacedm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
} */

.circles--middlespacedl {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.circles--cornerright {
    display: flex;
    justify-content: end;
    /* padding: 5px 18px 0 0; */
}

.circles--cornerright > .circle--l {
    margin-top: 5px;
    margin-right: 7px;
}

.circles--cornerright > .circle--m {
    margin-top: 5px;
    margin-right: 5px;
}

.circles--cornerright > .circle--xm {
    margin-top: 12px;
    margin-right: 12px;
}

.circles--cornerright > .circle--s {
    margin-top: 22px;
    margin-right: 18px;
}

.circles--cornerright > .circle--xs {
    margin-top: 10px;
    margin-right: 6px;
}

.circle {
    border-radius: 50%;
}

.circle--xs {
    height: 5px;
    width: 5px;
}

.circle--s {
    height: 10px;
    width: 10px;
}

.circle--xm {
    height: 15px;
    width: 15px;
    /* margin-left: 10px;
    margin-right: 10px; */
}

.circle--m {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.circle--l {
    height: 25px;
    width: 25px;
}