.searchbox {
    display: flex;
    place-content: center;
}

.searchbox__bar {
    background-color: var(--blanc-casse);
    font-family: var(--sans-serif);
    font-size: var(--small-text);
    font-weight: var(--regular);
    color: var(--noir-nuit);
    margin: 0;
    border-radius: 10px;
    border: 2px solid var(--noir-nuit);
    width: 232px;
    padding: 9px 39px 9px 10px;
}

.searchbox__bar::placeholder {
    color: var(--noir-nuit);
}

.searchbox__bar:focus-visible {
    outline: 2px solid var(--bleu);
    border-color: var(--blanc-casse);
}

.searchbox__button {
    border: none;
    background: none;
    margin: 5.5px 0 0 243px;
    padding: 0;
    cursor: pointer;
    position: absolute;
}

/* .searchbox__button--icon {

} */
